<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ejercicios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="none" id="container">
    <ion-item>
      <ion-button (click)="onClickIrFibonacci()">Serie de Fibonacci</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="onClickIrFactorial()">Factoriales</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="onClickIrPrimos()">Números Primos</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="onClickIrImpares()">Pares e Impares</ion-button>
    </ion-item>
    <ion-item>
      <ion-button (click)="onClickIrConjuntos()">Conjuntos</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
